@model List<Member>
@{
    ViewData["Title"] = "Members";
}

<div class="text-center">
    @foreach(Member member in Model)
    {
        <p>@member.Name</p>
        <p>@member.Address</p>
        <p>@member.Email</p>
    }
    
</div>